/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Defaults */
:root{
    /* Colors */
    --primaryColor: #147EFB;
    --bodyColor: #FFFFFF;
    --greyBgColor: #F9F9F9;
    --headingColor: #2D2E32;
    --paraColor: #555555;
    --sectionNameColor:#147EFB;
    --footerBgColor: #2D2E32;
    --footerTextColor: #F9F9F9;

    /* Shadow */
    --box-shadow: 0px 2px 4px .5px rgba(0, 0, 0, 0.1);
    
    /* Transition */
    --transition: all .5s ease-in-out;
    
    /* Border Radius */
    --border-radius:8px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--headingColor);
    position: relative;
}

/* Common Styles */
p {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: var(--paraColor);
    line-height: 1.5em;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--headingColor);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0 2em 0;
}

.heroSection{
    min-height: 100vh;
}

.greyBg{
    background-color: var(--greyBgColor);
}

.whiteBg{
    background-color: var(--bodyColor);
}

.footerBg{
    background-color: var(--footerBgColor);
    color: var(--bodyColor);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sectionName, .sectionHeadline{
    text-align: center;
}

.sectionName{
    font-size: 16px;
    color: var(--sectionNameColor);
    text-transform: uppercase;
    margin-bottom: .5em;
}

.sectionHeadline{
    font-size: 21px;
    text-transform: capitalize;
    margin-bottom: 1.2em;
}

.heroContainer{
    width: 85%;
    max-width: 850px;
    display: grid;
    justify-items: center;
    margin-top: 1.5em;
}

.sectionContainer{
    width: 80%;
    max-width: 900px;
    display: grid;
}

@media screen and (min-width: 800px) {
    .sectionName, .sectionHeadline{
        text-align: left;
    }
    .heroContainer{
        width: 90%;
        max-width: 850px;
    }

    .sectionContainer{
        width: 85%;
        max-width: 950px;
    }

    .sectionName{
        font-size: 17px;
    }
    
    .sectionHeadline{
        font-size: 25px;
    }

    p{
        font-size: 17px;
    }
}

@media screen and (min-width: 1000px) {
    .container{
        width: 85%;
        max-width: 850px;
    }
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 5px; 
  }

  *::-webkit-scrollbar {
    width: 10px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--paraColor); 
    border-radius: 5px; 
    border: 2px solid var(--bodyColor); 
  }
  

/* Header Section Style Start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 2.3em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--bodyColor);
    z-index: 100;
}

.logo{
    font-size: 19.89px;
    font-weight: 700;
}

.showMenu{
    font-size: 1.5em;
    cursor: pointer;
}

.showMenu:hover{
    color: var(--primaryColor);
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bodyColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--transition);
    overflow: hidden;
    z-index: 200;
}

.hideNav{
    width: 0;
}

.navLink{
    color: var(--headingColor);
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 1em;    
}

.navLink:hover{
    color: var(--primaryColor);
    cursor: pointer;
}

.closeMenu{
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    transition: var(--transition);
    font-size: 2em;
}

.closeMenu:hover{
    color: var(--primaryColor);
}

@media screen and (min-width: 800px) {
  /* Hide */
    .showMenu{
        display: none;
    }

    .closeMenu{
        display: none;
    }

    .logo{
        font-size: 17px;
    }

    .nav{
        position: relative;
        width: 100%;
        justify-content: flex-end;
        flex-direction: row;
    }

    .navLink{
        color: var(--headingColor);
        font-size: 15px;
        margin-right: 1em;    
        margin-bottom: 0;
        font-weight: 700;

    }
}
/* Header Section Style end */


/* Hero Section Style Start */
.upperHeroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    width: 100%;
}
.mypicContainer{
    width: 300px;
}

.mypic{
    width: 100%;
}

.headline, .subHeadline{
    text-align: center;
}

.headline{
    font-size: 50px;
    line-height: 66px;
}

.subHeadline{
    font-size: 18px;
    text-align: center;
    margin-top: 1em;
}

.connects{
    margin-top: 2em;
    text-align: center;
}

.connectIcon{
    color: var(--headingColor);
    font-size: 1.5rem;
    margin-right: .7em;
}

.techStackContainer {
    width: 100%;
    max-width: 200px;
    border-collapse: collapse;
    margin-top: 4em;
}

.techStackContainer th, .techStackContainer td {
    border: none;
    padding: 8px;
    text-align: center;
}

.techStackTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    text-align: center;
}

.techStacks tr {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 100%;
    margin: 1em auto;
    background-color: #f1f1f1;
}

.techStacks tr:last-child::before {
    height: 0;
}

.techStackSector {
    flex: 1;
    font-weight: 500;
    width: 100px;
}

.techStackLists {
    width: 100%;
    flex: 2;
}

.techStackLists div {
    display: flex;
    justify-content: flex-start;
}

.techStackLists img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.eachTech {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px; 
    position: relative; 
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.tooltip {
    position: absolute; 
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
    color: var(--greyBgColor);
    white-space: nowrap;
    overflow: visible;
    display: none;
}

.tooltip::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    background-color: #111;
    z-index: -1;
}

.eachTech:hover .tooltip {
    display: inline-block;
}


@media screen and (max-width: 768px) {
    .techStackContainer th, .techStackContainer td {
        font-size: 18px;
    }

    .techStackLists img {
        max-width: 80px;
        margin: 8px;
    }
}

@media screen and (min-width: 480px) {
    .techStacks tr {
        grid-template-columns: 1fr 3fr;
    }
}

@media screen and (max-width: 480px) {
    .headline{
        font-size: 40px;
    }

    .techStackLists img {
        max-width: 60px;
        margin: 6px;
    }
}

@media screen and (min-width: 600px) {
    .headline{
        font-size: 55px;
    }
}

@media screen and (min-width: 850px) {
    .upperHeroContent{
        flex-direction: row;
    }
    
    .mypicContainer{
        order: 1;
        width: 400px;

    }
    .headline, .subHeadline{
        text-align: left;
    }

    .subHeadline{
        width: 80%;
    }

    .connects{
        text-align: left;
    }

    .techStacks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}
/* Hero Section Style End */

/* About Me Section Style Start */
.aboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.aboutMePosterContainer{
    width: 100%;
    max-width: 400px;
    height: 310px;
    margin: auto;
}

.aboutMePoster{
    width: 100%;
    height: 100%;
}

.aboutMeDesc{
    max-width: 500px;
    margin-top: 2em;
    text-align: center;
}

.aboutMeDesc h1{
    text-align: center;
}

.aboutMePara1{
    margin-bottom: 2em;
}


@media screen and (min-width: 940px) {
    .aboutMeContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
    }
    .aboutMePosterContainer{
        margin: 0;
        height: 320px;
        width: 380px;
    }
    
    .aboutMeDesc{
        margin-top: 0px;
    }

    .aboutMeDesc h1{
        text-align: left;
    }

    .aboutMeDesc{
        text-align: left;
        width: 420px;
        margin-left: 2em;
    }
}
/* About Me Section Style End */

/* Portfolio Section Style Start */
.projectFilters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.projectFilter{
    margin: .5em;
    font-weight: 500;
    transition: var(--transition);
    cursor: pointer;
    text-transform: capitalize;
}

.projectFilter:hover{
    color: var(--primaryColor);
}

.activeFilter{
    color: var(--primaryColor);
    font-weight: 700;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
}

.NoProjects,.moreProjects{
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    font-style: italic;
}

.moreProjects{
    color: var(--primaryColor);
}


.NoProjects::after,.moreProjects::after{
    content: ".";
    animation: loadingAnimation 5s linear infinite;
}

.comingProject{
    color: var(--primaryColor);

}

@keyframes loadingAnimation {
    0%{content: "";}
    33.33%{content: ".";}
    66.66%{content: "..";}
    100%{content: "...";}

}

.project{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 4em;
}

.projectQuickView{
    width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.projectImg{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.projectQuickView:hover .projectImg{
    animation: scrollAnimation 10s linear infinite;
}

@keyframes scrollAnimation {
    0% { transform: translateY(0); } 
    100% { transform: translateY(calc(-100% + 300px)); }
}

.projectDetail {
    text-align: center;
    max-width: 400px;
}

.projectType{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--primaryColor);
    margin-bottom: 1em;
    font-weight: 700;
}

.projectName{
    text-transform: uppercase;
    margin-bottom: .8em;
}

.projectDesc{
    margin-bottom: 1em;
}

.viewDetailBtn{
    background-color: transparent;
    border: none;
    font-weight: 900;
    color: var(--primaryColor);
    font-size: .9rem;
    margin-bottom: 1.5em;
    cursor: pointer;
    transition: var(--transition);
}

.viewDetailBtn:hover{
    text-decoration: underline;
}

.techs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.tech{
    margin-right: 1em;
    font-weight: 600;
    margin-bottom: .5em;
    font-size: 14px;
    font-style: italic;
}

.projectBtns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectBtn{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--primaryColor);
    margin-right: 2em;
    margin-bottom: 1em;
    width: auto;
}

.projectBtn:hover {
    color: var(--primaryColor);
}

.projectBtnIcon{
    margin-left: .2em;
}

@media screen and (min-width: 800px) {
    .project{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .project:nth-child(odd) .projectQuickView{
        order: 1;
    }
}
/* Portfolio Section Style End */

/* YouTube Section Style Start */
.youtubeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2em;
    cursor: pointer;
    width: 80%;
    max-width: 600px;
    padding: .5em;
    border-radius: 10px;
    animation: youtubeContainerAnimation 1.5s ease-in-out infinite;
}

@keyframes youtubeContainerAnimation {
    0%{
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    }

    100%{
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    }
}

.programmingInsider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.youtubeDesc{
    text-align: center;
}

.youtubeName{
    font-size: 20px;
    color: var(--headingColor);
    font-weight: 500;
    margin-bottom: 1em;
}

.youtubeStatus{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 300px;
    margin-top: 2em;
}

.status{
    text-align: center;
    display: flex;
    align-items: center;
}

.status h1{
    font-size: 20px;
    margin-right: .5em;
}

@media screen and (max-width: 480px) {
.programmingInsider{
    flex-direction: column;
}
.status{
    flex-direction: column;
}
}

@media screen and (min-width: 800px) {
    .youtubeContainer{
        flex-direction: row;
    }
    .programmingInsider{
        margin-right: 4em;
    }

    .youtubeStatus{
        flex-direction: column;
        width: auto;
        margin: 0;
    }
    
}
/* YouTube Section Style End */

/* Contact Section Style Start */
.contactContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: var(--border-radius);
    transition: var(--transition);
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    background-color: var(--bodyColor);
    max-width: 600px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 2em;
    border-radius: 10px;
    height: 100%;
}

.contact-methods {
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex: 1;
    min-width: 250px;
    width: 90%;
    background-color: var(--bodyColor);
    padding: 30px;
    border-radius: var(--border-radius);
    color: var(--headingColor);
    height: 100%;
}

.contact-methods h2, .form-container h2{
    margin-bottom: .5em;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-methods p{
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 16px;
    color: var(--paraColor);
    display: flex;
    align-items: center;
}

.contact-methods button{
    position: relative;
    background-color: var(--primaryColor);
    color: var(--bodyColor);
    border-radius: var(--border-radius);
    border: none;
    font-weight: 600;
    padding: 0.8em;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 120px;
    margin-bottom: .7em;
}

.contact-methods button:hover {
    background-color: #0a64c1;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--headingColor);
    font-size: 14px;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    border: 1px solid #ced4da;;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    background-color: transparent;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border: 1px solid #0056b3;
}

.form-group textarea {
    height: 150px;
    resize: none;
}

button[type="submit"] {
    position: relative;
    background-color: var(--primaryColor);
    color: var(--bodyColor);
    border-radius: var(--border-radius);
    border: none;
    font-weight: 600;
    padding: 0.8em;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 150px;
}

button[type="submit"]:hover {
    background-color: #0a64c1;
}

@media (max-width: 800px) {
    .contactContainer {
        flex-direction: column;
    }

    .form-container,
    .contact-methods {
        width: 100%;
    }
}
/* Contact Section Style End */

/* Footer Section Style Start */
.footerContainer{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.copyrigt{
    font-size: 15px;
    font-weight: 700;
    color: var(--bodyColor);
}

.footerConnects{
    margin: 0;
}

.footerConnects .connectIcon{
    color: var(--bodyColor);
    font-size: 1.2rem;
    margin-right: .5em;
}

@media screen and (max-width: 480px) {
    .footerContainer{
    flex-direction: column;
}
} 

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: var(--greyBgColor);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.form-container {
    flex: 1;
    min-width: 300px;
}

.contact-info {
    flex: 1;
    min-width: 250px;
    background-color: var(--primaryColor);
    color: var(--bodyColor);
    padding: 20px;
    border-radius: var(--border-radius);
}

.contact-info h2,
.form-container h2 {
    color: var(--headingColor);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--headingColor);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    transition: var(--transition);
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primaryColor);
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: var(--primaryColor);
    color: var(--bodyColor);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background-color: darken(var(--primaryColor), 10%);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}

/* Footer Section Style End */


/* View Detail */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay.hidden {
    display: none; /* Hide the overlay when not needed */
}

.viewDetail {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    margin: auto;
    z-index: 1000;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    /* border-radius: var(--border-radius); */
    background-color: var(--bodyColor);
    box-shadow: var(--box-shadow);
    padding: 2em;
    overflow-x: hidden;
}

.viewDetail::-webkit-scrollbar {
    width: 8px;
}

.viewDetail::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.viewDetail::-webkit-scrollbar-thumb {
    background: #888;
}

.viewDetail::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.detailHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

.closeDetail {
    font-size: 2rem;
    cursor: pointer;
    color: var(--primaryColor);
}

/* Project Detail Container */
.projectDetailContainer {
    max-width: 800px;
    margin: auto;
}

.projectName {
    font-size: 1.8rem;
    color: var(--headingColor);
    margin-bottom: 1em;
}

.projectDesc, .lists {
    margin-bottom: 2em;
}

.sectionName {
    font-size: 1.6rem;
    color: var(--sectionNameColor);
    margin-bottom: 0.5em;
}

.listGeneralName {
    font-size: 1.4rem;
    color: var(--primaryColor);
    margin-bottom: 0.5em;
}

.list {
    margin-bottom: 1em;
}

.list p {
    line-height: 1.6;
    color: var(--paraColor);
}

.list p b{
    color: var(--headingColor);
}

.listDesc {
    margin-bottom: 1em;
    color: var(--paraColor);
}

.screenshotsContainer {
    max-width: 100%;
    margin: 0 auto;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Adjust the slider dots and arrows if needed */
.slick-dots {
    bottom: 10px;
}

.slick-prev, .slick-next {
    z-index: 1;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .viewDetail {
        padding: 1em;
        top: 10px;
        bottom: 10px;
    }

    .projectName {
        font-size: 1.5rem;
    }

    .sectionName, .listGeneralName {
        font-size: 1.2rem;
    }

    .closeDetail {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .viewDetail {
        padding: 0.5em;
        top: 5px;
        bottom: 5px;
    }

    .projectName {
        font-size: 1.2rem;
    }

    .sectionName, .listGeneralName {
        font-size: 1rem;
    }
}
